 :root {
     /* text-color */
     --text-primary-color: #059669;
     --text-ul-navbar: #263238;
     --text-scondray: #263238;
     --text-area: #263238;
     --text-time: #ccc;
     --text-follow: #059669;
     /* border-color */
     --border-primary-color: #059669;
     /* bg-color */
     --bg-btn-color: #059669;
     --bg-bid-card: #ffffff;
     --bg-body: #F7F9FA;
     --bg-menu-icon: #E4E6EB;
     --bg-navbar-icon: #E4E6EB;
     --bg-dropDown-hover-: #ffffff;
     --bg-textareat-color: #F7F9FA;
     --bg-best-comment: #F2FAF2;
     /* bg-color-hover */
     --button-hover-bg: #e4e6eba5;
     /* icon-color */
     --icon-color-navbar: #263238;
     /* line-color */
     --line-separator: #ccc;
     /* box-shadow */
     --shadow-color: rgba(0, 0, 0, 0.1);
     --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }

 body.dark {
     /* text-color */
     --text-primary-color: #059669;
     --text-ul-navbar: #ffffff;
     --text-follow: #ffffff;
     --text-scondray: #ffffff;
     --text-area: #ffffff;
     --text-time: #ffff;
     /* border-color */
     --border-primary-color: #059669;
     /* bg-color */
     --bg-bid-card: #08101a;
     --bg-body: #111826;
     --bg-menu-icon: #374152;
     --bg-navbar-icon: #374152;
     --bg-textareat-color: #374152;
     --bg-best-comment: #374152;
     /* bg-color-hover */
     --button-hover-bg: #e4e6eba5;
     /* icon-color */
     --icon-color-navbar: #E4E6EB;
     /* line-color */
     --line-separator: #ccc;
     /* box-shadow */
     --shadow-color: rgba(0, 0, 0, 0.1);
     --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }

 .title-comment {
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
     color: var(--text-scondray);
 }

 .dtls-comments {
     background-color: var(--bg-best-comment);
     padding: 5px 20px;
     border-radius: 10px;
     border: 2px solid var(--border-primary-color);
     margin-top: 1rem;
     position: relative;
 }

 .dtls-comment {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 1.5rem;
 }

 .dtls-comnt-profile {
     display: flex;
     align-items: center;
     gap: 10px;
     justify-content: center;
 }

 .dtls-comnt-profile h3 {
     font-size: 1rem;
     color: var(--text-primary-color);
     cursor: pointer;
 }

 .dtls-comnt-profile span {
     background-color: var(--border-primary-color);
     width: 10px;
     height: 10px;
     display: inline-block;
     border-radius: 50%;
 }

 .dtls-comnt-profile img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     object-fit: cover;
     border: 2px solid var(--border-primary-color);
 }

 .dtls-comment time {
     color: var(--text-time);
     font-size: 0.8rem;
 }

 .dtls-comments p {
     max-width: 80%;
     color: var(--text-scondray);
     line-height: 28px;
     margin-top: 0.8rem;
 }


 .dtls-interactive-comment {
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 2rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
 }

 .dtls-interactive-comment button {
     background-color: transparent;
     border: 2px solid var(--border-primary-color);
     padding: 8px 15px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 .dtls-interactive-comment button {
     border: 2px solid var(--border-active-color);
 }

 .dtls-interactive-comment button i,
 .dtls-interactive-comment button span {
     color: var(--border-active-color);
 }

 .like-btn:active,
 .like-btn-vote:active {
     transform: scale(0.9);
 }



 .dtls-comments .best-comment {
     text-align: center;
     padding: 1px 15px;
     background-color: var(--bg-btn-color);
     color: #ffffff;
     font-size: 0.7rem;
     border-radius: 20px;
     position: absolute;
     top: -12px;
     right: 20px;
     border: none;
     box-shadow: var(--box-shadow);
 }

 .comnt-show-more {
     width: 100%;
     text-align: center;
     margin-top: 1rem;
     cursor: pointer;
     color: #ffffff;
     background-color: var(--bg-btn-color);
     padding: 8px 15px;
     border-radius: 20px;
     border: none;
     box-shadow: var(--box-shadow);
 }

 .comnt-show-more:hover {
     background-color: #047857;
 }

 /* Add Comment */

 .add-comment {
     margin-top: 2rem;
     width: 100%;
 }

 .add-comment h3 {
     color: var(--text-scondray);
     margin-bottom: 1rem;
 }

 .add-comment textarea {
     width: 100%;
     height: 100px;
     background-color: var(--bg-textareat-color);
     border: none;
     border-radius: 5px;
     padding: 10px;
     font-size: 1rem;
     resize: vertical;
     outline: none;
     box-shadow: 0 0 0px transparent;
     transition: all 0.2s ease;
     color: var(--text-area);
 }

 .add-comment textarea:focus {
     box-shadow: 0 0 5px var(--border-primary-color);
     outline: 2px solid var(--border-primary-color);
 }


 @media (max-width: 768px) {
     .add-comment textarea {
         font-size: 0.7rem;
     }
    .dtls-comnt-profile h3 {
     font-size: 0.8rem;
 }
 }