 :root {
     /* text-color */
     --text-primary-color: #059669;
     --text-ul-navbar: #263238;
     --text-scondray: #263238;
     --text-area: #263238;
     --text-time: #ccc;
     --text-follow: #059669;
     --interactive: #059669;
     --border-active-color: #059669;
     /* border-color */
     --border-primary-color: #059669;
     /* bg-color */
     --bg-btn-color: #059669;
     --bg-bid-card: #ffffff;
     --bg-body: #F7F9FA;
     --bg-menu-icon: #E4E6EB;
     --bg-navbar-icon: #E4E6EB;
     --bg-dropDown-hover-: #ffffff;
     --bg-textareat-color: #F7F9FA;
     /* bg-color-hover */
     --button-hover-bg: #e4e6eba5;
     /* icon-color */
     --icon-color-navbar: #263238;
     /* line-color */
     --line-separator: #ccc;
     /* box-shadow */
     --shadow-color: rgba(0, 0, 0, 0.1);
     --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }

 body.dark {
     /* text-color */
     --text-primary-color: #059669;
     --text-ul-navbar: #ffffff;
     --text-follow: #ffffff;
     --text-scondray: #ffffff;
     --text-area: #ffffff;
     --text-time: #ffff;
     --interactive: #ffffff;
     /* border-color */
     --border-primary-color: #059669;
     --border-active-color: #ffffff;

     /* bg-color */
     --bg-bid-card: #08101a;
     --bg-body: #111826;
     --bg-menu-icon: #374152;
     --bg-navbar-icon: #374152;
     --bg-textareat-color: #374152;
     /* bg-color-hover */
     --button-hover-bg: #e4e6eba5;
     /* icon-color */
     --icon-color-navbar: #E4E6EB;
     /* line-color */
     --line-separator: #ccc;
     /* box-shadow */
     --shadow-color: rgba(0, 0, 0, 0.1);
     --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }

 section {
     direction: rtl;
     width: 80%;
     margin: auto;
     background-color: var(--bg-bid-card);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     padding: 25px 35px;
     margin-top: 4rem;
     border-radius: 10px;
 }

 /* data profile  */
 section .dtls-profile-data {
     display: flex;
     align-items: start;
     justify-content: start;
     gap: 15px;
     margin-bottom: 1.1rem;
 }

 section .dtls-profile-data img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     object-fit: cover;
     border: 2px solid var(--border-primary-color);
 }

 section .dtls-profile-data .name-time {
     margin-top: 5px;
     line-height: 22px;
 }

 section .name-time h3 {
     color: var(--text-primary-color);
     cursor: pointer;
 }

 section .name-time time {
     color: var(--text-time);
     font-size: 12px;
 }

 section .dtls-profile-data span {
     background-color: var(--border-primary-color);
     width: 10px;
     height: 10px;
     display: inline-block;
     border-radius: 50%;
     margin-top: 12px;
 }

 section .dtls-profile-data h3 {
     color: var(--text-primary-color);
     cursor: pointer;
 }

 /* content section  */


 .dtls-tags .section-classi i {
     color: var(--icon-color-navbar);
     font-size: 0.8rem;
 }

 .dtls-tags .section-classi span {
     color: var(--text-primary-color);
     font-size: 0.8rem;
     font-weight: bold;
 }

 section .dtls-tags {
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 20px;
     margin-bottom: 1rem;
 }

 section p {
     color: var(--text-scondray);
     line-height: 28px;
     font-size: 0.9rem;
 }

 section .line {
     width: 100%;
     height: 1px;
     display: inline-block;
     background-color: var(--line-separator);
 }

 .dtls-interactive {
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 3rem;
     margin-top: 1rem;
 }

 .dtls-interactive button {
     background-color: transparent;
     border: 2px solid var(--border-primary-color);
     padding: 8px 15px;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 .dtls-interactive button,
 .dtls-interactive button i,
 .dtls-interactive button span {
     transition: all 0.3s ease-in-out;
 }

 .dtls-interactive button {
     border: 2px solid var(--border-active-color);
 }


 .dtls-interactive button i,
 .dtls-interactive button span {
     color: var(--border-active-color);
 }

 .like-btn:active {
     transform: scale(0.9);
 }




 @media (max-width: 768px) {
     section {
         width: 90%;
     }

     /* data profile  */

     section .dtls-profile-data img {
         width: 40px;
         height: 40px;
     }

     section .dtls-profile-data .name-time {
         margin-top: 5px;
         line-height: 22px;
     }

     section .name-time h3 {
         color: var(--text-primary-color);
         cursor: pointer;
         font-size: 0.9rem;
     }

     section .name-time time {
         color: var(--text-time);
         font-size: 10px;
     }

     section .dtls-profile-data span {
         width: 8px;
         height: 8px;

     }

     section .dtls-profile-data h3 {
         font-size: 0.9rem;

     }


     /* content section  */


     section .dtls-tags {
         gap: 10px;
     }

     section p {
         font-size: 0.9rem;
     }



     .dtls-interactive button {
         padding: 5px 15px;
     }

 }