  html,
  body {
    position: relative;
    height: 100%;
  }


  .swiper {
    width: 100%;
    height: 200px;
    margin-top: 1rem;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }