 :root {
     /* text-color */
     --text-primary-color: #059669;
     --text-ul-navbar: #263238;
     --text-area: #263238;
     /* border-color */
     --border-primary-color: #059669;
     /* bg-color */
     --bg-btn-color: #059669;
     --bg-bid-card: #ffffff;
     --bg-body: #F7F9FA;
     --bg-menu-icon: #E4E6EB;
     --bg-navbar-icon: #E4E6EB;
     --bg-dropDown-hover-: #ffffff;
     --bg-textareat-color: #F7F9FA;
     /* bg-color-hover */
     --button-hover-bg: #e4e6eba5;
     /* icon-color */
     --icon-color-navbar: #263238;
     /* line-color */
     --line-separator: #ccc;
     /* box-shadow */
     --shadow-color: rgba(0, 0, 0, 0.1);
     --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }

 body.dark {
     /* text-color */
     --text-primary-color: #059669;
     --text-ul-navbar: #ffffff;
     --text-area: #ffffff;
     /* border-color */
     --border-primary-color: #059669;
     /* bg-color */
     --bg-bid-card: #08101a;
     --bg-body: #111826;
     --bg-menu-icon: #374152;
     --bg-navbar-icon: #374152;
     --bg-textareat-color: #374152;
     /* bg-color-hover */
     --button-hover-bg: #e4e6eba5;
     /* icon-color */
     --icon-color-navbar: #E4E6EB;
     /* line-color */
     --line-separator: #ccc;
     /* box-shadow */
     --shadow-color: rgba(0, 0, 0, 0.1);
     --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }

 /* section  */
 section {
     direction: rtl;
     width: 80%;
     margin: auto;
     background-color: var(--bg-bid-card);
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
     padding: 25px 35px;
     margin-top: 4rem;
     border-radius: 10px;
 }

 /* textarea  */
 section textarea {
     width: 100%;
     height: 100px;
     background-color: var(--bg-textareat-color);
     border: none;
     border-radius: 5px;
     padding: 10px;
     font-size: 1rem;
     resize: vertical;
     outline: none;
     box-shadow: 0 0 0px transparent;
     transition: all 0.2s ease;
     color: var(--text-area);
 }

 section textarea:focus {
     box-shadow: 0 0 5px var(--border-primary-color);
     outline: 2px solid var(--border-primary-color);
 }

 /* input  */
 section input[type="text"] {
     width: 100%;
     height: 40px;
     margin-top: 1rem;
     border-radius: 5px;
     border: 0px solid transparent;
     padding: 0 10px;
     outline: none;
     box-shadow: 0 0 0px transparent;
     transition: all 0.2s ease;
     background-color: var(--bg-textareat-color);
     color: var(--text-area);
 }

 section input[type="text"]:focus {
     box-shadow: 0 0 10px var(--border-primary-color);
     outline: 2px solid var(--border-primary-color);
 }

 /* select option  */
 section select {
     width: 100%;
     height: 40px;
     background-color: var(--bg-textareat-color);
     color: var(--text-area);
     margin-top: 1rem;
     margin-bottom: 1rem;
     border-radius: 5px;
     border: 2px solid transparent;
     padding: 0 10px;
     outline: none;
     box-shadow: 0 0 0px transparent;
     transition: all 0.2s ease;
 }

 section select:focus {
     border: 2px solid var(--border-primary-color);
 }

 /* gallery */
 .container-imgs {
     display: flex;
     gap: 10px;
     padding: 1px 0px;
     margin-top: 1rem;
     flex-wrap: wrap;
 }

 .container-imgs img {
     width: 70px;
     height: 70px;
     border-radius: 5px;
     object-fit: cover;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 .container-imgs .container-img {
     position: relative;
 }

 .container-imgs .container-img button {
     position: absolute;
     top: -5px;
     right: -5px;
     width: 15px;
     height: 15px;
     border: none;
     border-radius: 50%;
     background-color: rgb(249, 34, 34);
     color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     padding: 10px;

 }

 .container-imgs .container-img button i {
     font-size: 12px;
     font-weight: bold;
 }

 /* error */
 section p {
     color: rgb(244, 59, 59);
     font-size: 0.9rem;
 }

 section p i {
     color: rgb(244, 59, 59);
 }

 /* button create */
 .btns-add {
     width: 100%;
     display: flex;
     justify-content: space-between;
     gap: 15px;
     align-items: center;
     margin-top: 1.2rem;
 }

 .btns-add .add {
     width: 100%;
     background-color: var(--bg-btn-color);
     color: #ffffff;
     border: none;
     padding: 10px 15px;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.2s ease;
     text-align: center;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
     font-size: 1.1rem;
     font-weight: bold;
 }

 .btns-add .add-photo {
     background-color: var(--bg-btn-color);
     color: #ffffff;
     border: none;
     padding: 10px 15px;
     width: 55px;
     height: 55px;
     border-radius: 50%;
     cursor: pointer;
     transition: background-color 0.2s ease;
     text-align: center;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
     font-size: 1.1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;

 }

 .btns-add .add:hover,
 .btns-add .add-photo:hover {
     background-color: #047857;
 }

 .up-load-img {
     position: absolute;
     opacity: 0;
     width: 70%;
     height: 50%;
     border-radius: 50%;
     font-size: 0.1rem;
 }

 .advice-photo{
     color: var(--text-ul-navbar);
 }
 .advice-photo i {
     color: var(--text-primary-color);
 }

 /* Response for mobile devices */

 @media (max-width: 768px) {
     section {
         width: 90%;

     }

     /* textarea  */
     section textarea {
         font-size: 0.8rem;
     }

     /* input  */
     section input[type="text"] {
         font-size: 0.8rem;
     }

     /* select option  */
     /* gallery */
     .container-imgs img {
         width: 50px;
         height: 50px;
     }

     section p {
         font-size: 0.7rem;
     }

     /* button create */
     .btns-add .add {
         font-size: 1rem;
         width: 95%;
     }

     .btns-add .add-photo {
         padding: 8px 15px;
         width: 50px;
         height: 50px;
         font-size: 1rem;

         display: flex;
         align-items: center;
         justify-content: center;

     }

     .advice-photo,
     .advice-photo i {
         font-size: 0.5rem;
     }
 }