:root {
    --primary-color: #059669;
    --text-color: #263238;
    --bg-color-section: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --button-bg: #E4E6EB;
    --button-hover-bg: #e4e6eba5;
    --separator-color: #ccc;
    --textareat-color: #F7F9FA;
    --time-color: #757575;
}

.up-post {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.up-post .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--bg-color-section);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

.up-post .btn a {
    color: var(--bg-color-section);
}

.up-post .btn:hover {
    background-color: #047857;
}

.btn-ai {
  position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-color);
    cursor: pointer;
}
.btn-ai button {
    border: none;
    background: none;
    cursor: pointer;
}

.btn-ai button i{
    color: var(--textareat-color);
    font-size: 1.2rem;
    cursor: pointer;

}

@media (max-width: 768px) {

    .up-post .btn {
        width: 30px;
        height: 30px;
    }

    .up-post .btn i {
        font-size: 0.6rem;
    }

    .btn-ai button i{
    font-size: 0.8rem;
}

.btn-ai {
    width: 30px;
    height: 30px;
}

}